/*========================== BUTTON ============================*/

.button {
	text-align: center;
	border-radius: 4px;
	background-color: var(--purple-main);
	color: var(--absolute-white);
	font-weight: 600;
	line-height: 1.5;
	text-transform: capitalize;
	padding: 10px 24px;
	border: 1px solid var(--purple-main);
	transition: all 0.5s;
	position: relative;
	z-index: 5;
}

@media (any-hover: hover) {
	.button:hover {
		background-color: var(--purple-50);
		border: 1px solid var(--purple-main);
		color: var(--blue-dark);
		box-shadow: 0px 4px 10px var(--purple-main);
	}

	.button--before:hover::before {
		background: url("../img/icons/download_dark_icon.svg") center center/contain no-repeat;
	}

	.button--white-after:hover::after,
	.button--after:hover::after {
		background: url("../img/icons/arrow_dark_after_icon.svg") center center/contain no-repeat;
	}

	.button--white-after:hover {
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.button--transparent {
	background-color: var(--absolute-white);
	color: var(--purple-main);
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 12px;
	justify-content: center;
}

.button--white-after {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	justify-content: center;
	transition: 0.5s;
}

.button--before::before {
	content: "";
	background: url("../img/icons/download_purple_icon.svg") center center/contain no-repeat;
	width: 24px;
	aspect-ratio: 1;
	transition: 0.5s;
}

.button--after::after {
	content: "";
	background: url("../img/icons/arrow_puple_after_icon.svg") center center/contain no-repeat;
	width: 12px;
	aspect-ratio: 1;
	transition: 0.5s;
}

.button--white-after::after {
	content: "";
	background: url("../img/icons/arrow_white_after_icon.svg") center center/contain no-repeat;
	width: 12px;
	aspect-ratio: 1;
	transition: 0.5s;
}

.button--form {
	display: flex;
	gap: 12px;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.button--form:hover svg path {
	fill: var(--purple-main);
}

@media (min-width: 650px) {
	.button {
		align-self: flex-start;
	}

	.button--form {
		width: fit-content;
	}
}
@media (max-width: 900px) {
	.button--transparent {
		padding-inline: 10px;
	}
}

svg path {
	transition: all 0.3s;
}

/*========================== SECTION-HEADER ============================*/
.section-header {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.section-header__title {
	color: var(--blue-dark);
	font-size: 30px;
	font-weight: 600;
	line-height: 1.31;
}

.section-header__title--small-fz {
	font-size: 23px; /*  23 */
}

.section-header__title--white {
	color: var(--absolute-white);
}

.section-header__main-title {
	color: var(--blue-dark);
	font-size: 30px;
	line-height: 1.16;
	font-weight: 600;
}

.section-header__title--center,
.section-header__text--center {
	text-align: center;
	max-width: 577px;
	width: 100%;
	margin-inline: auto;
}

.section-header__title--width {
	max-width: 621px;
}

.section-header__title--color {
	color: var(--grey-90);
}

@media (min-width: 400px) {
	.section-header__title {
		font-size: 35px;
	}

	.section-header__title--small-fz {
		font-size: 25px;
	}

	.section-header__main-title {
		font-size: 38px;
	}
}

@media (min-width: 750px) {
	.section-header__main-title {
		font-size: 50px;
	}

	.section-header__title {
		font-size: 40px;
	}

	.section-header__title--small-fz {
		font-size: 30px;
	}
}

@media (min-width: 1100px) {
	.section-header__main-title {
		font-size: 72px;
	}

	.section-header__title {
		font-size: 48px;
	}

	.section-header__title--small-fz {
		font-size: 38px;
	}
}

.section-header__text {
	color: var(--grey-60);
	font-size: 16px;
	line-height: 1.13;
}

.section-header__text--light {
	color: var(--grey-35);
}

.section-header__text--color-medium {
	color: var(--grey-50);
}

.section-header__text--color-light {
	color: var(--grey-40);
}

@media (min-width: 400px) {
	.section-header__text {
		font-size: 18px;
	}
}

.section-header__text p:not(:last-child) {
	margin-bottom: 16px;
}

.section-header__text span {
	color: var(--blue-dark);
	font-size: 18px;
	line-height: 24px;
	position: relative;
}

.section-header__text span::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 6px; /* 6/18 */
	bottom: 2px; /* 2/18 */
	left: 0;
	background-color: var(--red-05);
	z-index: -1;
}

.section-header__links {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.section-header__links .button {
	width: 100%;
}

@media (min-width: 780px) {
	.section-header__links {
		flex-direction: row;
		align-items: center;
	}
	.section-header__links .button {
		width: auto;
	}
}

.section-header__link {
	display: grid;
}

@media (min-width: 650px) {
	.section-header__link {
		display: flex;
		justify-content: center;
	}
}

/*========================== SOCIALS ============================*/

.socials {
	border-radius: 4px;
}
.socials__list {
	display: inline-flex;
	align-items: center;
}

.socials__link {
	width: 48px;
	aspect-ratio: 1;
	padding: 15px;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.socials__link svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (any-hover: hover) {
	.socials__link:hover {
		background-color: var(--purple-main);
	}

	.socials__link:hover svg path {
		fill: var(--absolute-white);
	}
}

/*========================== PAGINATION ============================*/

.pagination {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
}
.pagination__dot {
	width: 8px;
	border-radius: 50%;
	aspect-ratio: 1;
	background-color: var(--grey-20);
	transition:
		background-color 0.5s,
		border-radius 0.5s;
	will-change: background-color, border-radius;
}
.pagination__dot:hover {
	width: 30px;
	height: 8px;
	border-radius: 100px;
	background: var(--purple-100);
}
